body {
    background-color: #393E46;
  }

  .clock{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
  }

